In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[1,2,3], [4,5,6],[7,8,9], [10,11,12]], columns=["A","B","C"], index=['x','y','z','zz'])

In [6]:
df.head()

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [7]:
df.tail(3)

     A   B   C
y    4   5   6
z    7   8   9
zz  10  11  12

In [8]:
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [9]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [10]:
df.index

Index(['x', 'y', 'z', 'zz'], dtype='object')

In [11]:
df.nunique()

A    4
B    4
C    4
dtype: int64

In [8]:
#Loading Data from data frames
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [9]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [10]:
coffee.describe()

       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [11]:
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [12]:
coffee.loc()

In [14]:
coffee.index(1,3)

TypeError: 'RangeIndex' object is not callable