In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[1,2,3], [4,5,6],[7,8,9], [10,11,12]], columns=["A","B","C"], index=['x','y','z','zz'])

In [6]:
df.head()

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [7]:
df.tail(3)

     A   B   C
y    4   5   6
z    7   8   9
zz  10  11  12

In [8]:
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [9]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [10]:
df.index

Index(['x', 'y', 'z', 'zz'], dtype='object')

In [11]:
df.nunique()

A    4
B    4
C    4
dtype: int64