In [1]:
import pandas as pd

#Create Data Frames 

df = pd.DataFrame([[1,2,3], [4,5,6],[7,8,9],[10,11,12]], columns=["A", "B"," C"], index=["w","x","y","z"])

df.head()
# df.tail(2)
df.index
df.info
df.describe()
#Show Memory Impact
df.info()
#Show shape of the data
df.shape
#Show total number of items
df.size

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, w to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2    C      4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

12

In [2]:
#Load data from a simple file

coffee = pd.read_csv('./warmup-data/coffee.csv')

In [3]:
#Parquet data formart is smaller size
results = pd.read_parquet("./data/results.parquet")
bios = pd.read_csv("./data/bios.csv")

In [4]:
#Read data from an excel file  in a specific sheet
olympics_data = pd.read_excel("./data/olympics-data.xlsx", sheet_name="results")

In [5]:
olympics_data.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [6]:
coffee.head(10)
coffee.sample(5)
coffee.tail(3)

         Day Coffee Type  Units Sold
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [7]:
#LOok in a specific column and rows
coffee.loc[[0, 1, 2]]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30

In [8]:
#Slice date with the loc function
coffee.loc[5:12]

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45

In [9]:
#Slice data  from specific index in specific rows and columns
coffee.loc[5:10, ["Coffee Type","Units Sold"]]

   Coffee Type  Units Sold
5        Latte          25
6     Espresso          40
7        Latte          30
8     Espresso          45
9        Latte          35
10    Espresso          45

In [10]:
#Use index location to visualize data , iloc uses only index values 
coffee.iloc[0:5, [0,2]]

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35

In [11]:
#Use iloc in fun ways to set specific indexes and read data
#This sets the day as the dataframe index"
#coffee.index = coffee["Day"]

In [12]:
coffee.loc["Monday", "Units Sold"]

KeyError: 'Monday'

In [ ]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [ ]:
#Set the value of a specific cell, e.g set the valua of units sold on wednesday to 100
coffee.loc[1, "Units Sold"] = 100
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte         100
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35